@import url(https://fonts.googleapis.com/css?family=Audiowide);

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Audiowide";
  font-size: 16px;
  user-select: none;
  cursor: default;
  background: url("dark.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0
}
li {
  padding: 10px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 33%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.title {
  position: absolute;
  width: 100%;
  margin-top: 10%;
  color: #fc0505;
  flex: 0;
  font-size: 30px;
}

.middle {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.screen {
  padding-top: 25%;
  height: 45%;
}

.credits {
  flex: 0;
}

.popup {
  display: none;
  position: absolute;
  flex: 0;
  width: 150%;
  margin-top: 35%;
  background-color: #191919;
  margin-left: -25%;
}


  .button {
    display: inline-block;
    width: 50%;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    border: 1px solid #AA2666;
    color: #fc0505;
    background-color: black;
    font-size: 100%;
    text-align: center;
  }

  .button:hover {
    color: black;
    background-color: #fc0505;
  }

#credits {
  display: none;
  line-height: 60px;
}

#credits li {
  padding: 2px 0;
}

#instructions {
  display: none;
  padding: 15px 0;
}

//styling the health bar
progress{
  color: black;
  line-height: 2em;
  width: 100%;
  height: 2em;
  background: black;
  bottom: 0px;
}

progress::-webkit-progress-bar{
  background:#fc0505;
}

progress::-webkit-progress-value{
  background: #fc0505;
}

.props {
  color: #fc0505;
}

.directions{
  color: #fc0505;
  margin-top: 10px;
}

.back{
  margin-top: 10px;
  background-color: #191919;
  color: #fc0505;
}

.back:hover {
  background-color: #fc0505;
  color: #191919;
}

#game-over {
  display: none;
  background-color: black;
  color: #fc0505;
  text-align: center;
  padding-top: 92px;
  z-index: 1;
  width: 600px;
  height: 360px;
  position: absolute;
}
